.user-details-page {
    margin: 30px;

    .navigation-box {
        display: flex;
        margin-top: 15px;

        .prev-btn {
            flex: 1;
        }

        .next-btn {
            display: flex;
            flex: 1;
            justify-content: flex-end;
        }
    }
}