@import "~sass-mq";

.user-details {
    display: flex;

    .image {
        flex: 1;
        margin: 0 6%;
        
        img {
            width: 100%;
        }
    }

    .info {
        flex: 1;
        margin-left: 20px;
        display: flex;
        flex-direction: column;

        .name {
            font-size: 24px;
            font-weight: 500;
        }

        .email {
            font-size: 16px;
            margin-top: 15px;
        }

        .text {
            margin-top: 15px;
            font-size: 14px;
        }
    }
}

@include mq($from: mobile, $until: tablet) {
    .user-details {
        flex-direction: column;

        .info {
    
            .name {
                text-align: center;
            }
    
            .email {
                text-align: center;
            }
    
            .text {
                text-align: justify;
            }
        }
    }
}