
@import "../../css/quasar.variables.scss";
.view-picker {
    .q-icon {
        color: $gray;

        &.selected {
            color: $dark;
        }

        &:hover {
            cursor: pointer;
        }
    }
}